<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.volunteer.volunteer.mapper.EnrollPassMapper">
    <resultMap id="BaseResultMap" type="com.volunteer.volunteer.model.EnrollPass">
        <id column="pass_id" property="passId" jdbcType="INTEGER"/>
        <result column="main_id" property="mainId" jdbcType="INTEGER"/>
        <result column="first_pass" property="firstPass" jdbcType="INTEGER"/>
        <result column="second_pass" property="secondPass" jdbcType="INTEGER"/>
        <result column="third_pass" property="thirdPass" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        pass_id, main_id, first_pass, second_pass, third_pass
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from enroll_pass
        where pass_id = #{passId,jdbcType=INTEGER}
    </select>
    <select id="selectByMainId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from enroll_pass
        where main_id = #{mainId,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from enroll_pass
        where pass_id = #{passId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.volunteer.volunteer.model.EnrollPass">
        insert into enroll_pass (pass_id, main_id, first_pass,
                                 second_pass, third_pass)
        values (#{passId,jdbcType=INTEGER}, #{mainId,jdbcType=INTEGER}, #{firstPass,jdbcType=INTEGER},
                #{secondPass,jdbcType=INTEGER}, #{thirdPass,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.volunteer.volunteer.model.EnrollPass">
        insert into enroll_pass
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="passId != null">
                pass_id,
            </if>
            <if test="mainId != null">
                main_id,
            </if>
            <if test="firstPass != null">
                first_pass,
            </if>
            <if test="secondPass != null">
                second_pass,
            </if>
            <if test="thirdPass != null">
                third_pass,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="passId != null">
                #{passId,jdbcType=INTEGER},
            </if>
            <if test="mainId != null">
                #{mainId,jdbcType=INTEGER},
            </if>
            <if test="firstPass != null">
                #{firstPass,jdbcType=INTEGER},
            </if>
            <if test="secondPass != null">
                #{secondPass,jdbcType=INTEGER},
            </if>
            <if test="thirdPass != null">
                #{thirdPass,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <insert id="insertMainId">
        insert into enroll_pass
            (main_id,first_pass,second_pass,third_pass) values (#{mainId,jdbcType=INTEGER},0,0,0); ;
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.volunteer.volunteer.model.EnrollPass">
        update enroll_pass
        <set>
            <if test="mainId != null">
                main_id = #{mainId,jdbcType=INTEGER},
            </if>
            <if test="firstPass != null">
                first_pass = #{firstPass,jdbcType=INTEGER},
            </if>
            <if test="secondPass != null">
                second_pass = #{secondPass,jdbcType=INTEGER},
            </if>
            <if test="thirdPass != null">
                third_pass = #{thirdPass,jdbcType=INTEGER},
            </if>
        </set>
        where pass_id = #{passId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.volunteer.volunteer.model.EnrollPass">
        update enroll_pass
        set main_id     = #{mainId,jdbcType=INTEGER},
            first_pass  = #{firstPass,jdbcType=INTEGER},
            second_pass = #{secondPass,jdbcType=INTEGER},
            third_pass  = #{thirdPass,jdbcType=INTEGER}
        where pass_id = #{passId,jdbcType=INTEGER}
    </update>

    <update id="updateByMainId" parameterType="com.volunteer.volunteer.model.EnrollPass">
        update enroll_pass
        <set>
            <if test="firstPass != null and firstPass !=0">
                first_pass = #{firstPass,jdbcType=INTEGER},
            </if>
            <if test="secondPass != null and secondPass !=0">
                second_pass = #{secondPass,jdbcType=INTEGER},
            </if>
            <if test="thirdPass != null and thirdPass !=0">
                third_pass = #{thirdPass,jdbcType=INTEGER},
            </if>
        </set>
        where main_id = #{mainId,jdbcType=INTEGER}
    </update>



</mapper>