<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.volunteer.volunteer.mapper.FormMapper" >
  <resultMap id="BaseResultMap" type="com.volunteer.volunteer.model.Form" >
    <id column="form_table_id" property="formTableId" jdbcType="INTEGER" />
    <result column="form_id" property="formId" jdbcType="VARCHAR" />
    <result column="wechat_id" property="wechatId" jdbcType="INTEGER" />
    <result column="deadline" property="deadline" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    form_table_id, form_id, wechat_id, deadline
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from form
    where form_table_id = #{formTableId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from form
    where form_table_id = #{formTableId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.volunteer.volunteer.model.Form" >
    insert into form (form_table_id, form_id, wechat_id, 
      deadline)
    values (#{formTableId,jdbcType=INTEGER}, #{formId,jdbcType=VARCHAR}, #{wechatId,jdbcType=INTEGER}, 
      #{deadline,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.volunteer.volunteer.model.Form" >
    insert into form
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="formTableId != null" >
        form_table_id,
      </if>
      <if test="formId != null" >
        form_id,
      </if>
      <if test="wechatId != null" >
        wechat_id,
      </if>
      <if test="deadline != null" >
        deadline,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="formTableId != null" >
        #{formTableId,jdbcType=INTEGER},
      </if>
      <if test="formId != null" >
        #{formId,jdbcType=VARCHAR},
      </if>
      <if test="wechatId != null" >
        #{wechatId,jdbcType=INTEGER},
      </if>
      <if test="deadline != null" >
        #{deadline,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.volunteer.volunteer.model.Form" >
    update form
    <set >
      <if test="formId != null" >
        form_id = #{formId,jdbcType=VARCHAR},
      </if>
      <if test="wechatId != null" >
        wechat_id = #{wechatId,jdbcType=INTEGER},
      </if>
      <if test="deadline != null" >
        deadline = #{deadline,jdbcType=TIMESTAMP},
      </if>
    </set>
    where form_table_id = #{formTableId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.volunteer.volunteer.model.Form" >
    update form
    set form_id = #{formId,jdbcType=VARCHAR},
      wechat_id = #{wechatId,jdbcType=INTEGER},
      deadline = #{deadline,jdbcType=TIMESTAMP}
    where form_table_id = #{formTableId,jdbcType=INTEGER}
  </update>
</mapper>