<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.volunteer.volunteer.mapper.InvitationMapper" >
  <resultMap id="BaseResultMap" type="com.volunteer.volunteer.model.Invitation" >
    <id column="invitation_id" property="invitationId" jdbcType="INTEGER" />
    <result column="invitation_code" property="invitationCode" jdbcType="VARCHAR" />
    <result column="information_id" property="informationId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    invitation_id, invitation_code, information_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from invitation
    where invitation_id = #{invitationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from invitation
    where invitation_id = #{invitationId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.volunteer.volunteer.model.Invitation" >
    insert into invitation (invitation_id, invitation_code, information_id
      )
    values (#{invitationId,jdbcType=INTEGER}, #{invitationCode,jdbcType=VARCHAR}, #{informationId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.volunteer.volunteer.model.Invitation" >
    insert into invitation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="invitationId != null" >
        invitation_id,
      </if>
      <if test="invitationCode != null" >
        invitation_code,
      </if>
      <if test="informationId != null" >
        information_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="invitationId != null" >
        #{invitationId,jdbcType=INTEGER},
      </if>
      <if test="invitationCode != null" >
        #{invitationCode,jdbcType=VARCHAR},
      </if>
      <if test="informationId != null" >
        #{informationId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.volunteer.volunteer.model.Invitation" >
    update invitation
    <set >
      <if test="invitationCode != null" >
        invitation_code = #{invitationCode,jdbcType=VARCHAR},
      </if>
      <if test="informationId != null" >
        information_id = #{informationId,jdbcType=INTEGER},
      </if>
    </set>
    where invitation_id = #{invitationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.volunteer.volunteer.model.Invitation" >
    update invitation
    set invitation_code = #{invitationCode,jdbcType=VARCHAR},
      information_id = #{informationId,jdbcType=INTEGER}
    where invitation_id = #{invitationId,jdbcType=INTEGER}
  </update>
</mapper>