<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.volunteer.volunteer.mapper.ManagerMapper" >
  <resultMap id="BaseResultMap" type="com.volunteer.volunteer.model.Manager" >
    <id column="manager_id" property="managerId" jdbcType="INTEGER" />
    <result column="manager_name" property="managerName" jdbcType="VARCHAR" />
    <result column="manager_password" property="managerPassword" jdbcType="VARCHAR" />
    <result column="manager_position" property="managerPosition" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    manager_id, manager_name, manager_password, manager_position
  </sql>
  <sql id="Login_List">
    manager_name, manager_password, manager_position
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from manager
    where manager_id = #{managerId,jdbcType=INTEGER}
  </select>
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Login_List"/>
    from manager
    where manager_name = #{managerName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from manager
    where manager_id = #{managerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.volunteer.volunteer.model.Manager" >
    insert into manager (manager_id, manager_name, manager_password, 
      manager_position)
    values (#{managerId,jdbcType=INTEGER}, #{managerName,jdbcType=VARCHAR}, #{managerPassword,jdbcType=VARCHAR}, 
      #{managerPosition,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.volunteer.volunteer.model.Manager" >
    insert into manager
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="managerId != null" >
        manager_id,
      </if>
      <if test="managerName != null" >
        manager_name,
      </if>
      <if test="managerPassword != null" >
        manager_password,
      </if>
      <if test="managerPosition != null" >
        manager_position,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="managerId != null" >
        #{managerId,jdbcType=INTEGER},
      </if>
      <if test="managerName != null" >
        #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="managerPassword != null" >
        #{managerPassword,jdbcType=VARCHAR},
      </if>
      <if test="managerPosition != null" >
        #{managerPosition,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.volunteer.volunteer.model.Manager" >
    update manager
    <set >
      <if test="managerName != null" >
        manager_name = #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="managerPassword != null" >
        manager_password = #{managerPassword,jdbcType=VARCHAR},
      </if>
      <if test="managerPosition != null" >
        manager_position = #{managerPosition,jdbcType=INTEGER},
      </if>
    </set>
    where manager_id = #{managerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.volunteer.volunteer.model.Manager" >
    update manager
    set manager_name = #{managerName,jdbcType=VARCHAR},
      manager_password = #{managerPassword,jdbcType=VARCHAR},
      manager_position = #{managerPosition,jdbcType=INTEGER}
    where manager_id = #{managerId,jdbcType=INTEGER}
  </update>
</mapper>