<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.volunteer.volunteer.mapper.ManagerMapper" >
  <resultMap id="BaseResultMap" type="com.volunteer.volunteer.model.Manager" >
    <id column="manage_id" property="manageId" jdbcType="INTEGER" />
    <result column="manage_pwd" property="managePwd" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    manage_id, manage_pwd
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from manage
    where manage_id = #{manageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from manage
    where manage_id = #{manageId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.volunteer.volunteer.model.Manager" >
    insert into manage (manage_id, manage_pwd)
    values (#{manageId,jdbcType=INTEGER}, #{managePwd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.volunteer.volunteer.model.Manager" >
    insert into manage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="manageId != null" >
        manage_id,
      </if>
      <if test="managePwd != null" >
        manage_pwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="manageId != null" >
        #{manageId,jdbcType=INTEGER},
      </if>
      <if test="managePwd != null" >
        #{managePwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.volunteer.volunteer.model.Manager" >
    update manage
    <set >
      <if test="managePwd != null" >
        manage_pwd = #{managePwd,jdbcType=VARCHAR},
      </if>
    </set>
    where manage_id = #{manageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.volunteer.volunteer.model.Manager" >
    update manage
    set manage_pwd = #{managePwd,jdbcType=VARCHAR}
    where manage_id = #{manageId,jdbcType=INTEGER}
  </update>
</mapper>