<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.volunteer.volunteer.mapper.PraiseMapper" >
  <resultMap id="BaseResultMap" type="com.volunteer.volunteer.model.Praise" >
    <id column="praise_id" property="praiseId" jdbcType="INTEGER" />
    <result column="praise_person" property="praisePerson" jdbcType="VARCHAR" />
    <result column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="department" property="department" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    praise_id, praise_person, activity_id, department
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from praise
    where praise_id = #{praiseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from praise
    where praise_id = #{praiseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.volunteer.volunteer.model.Praise" >
    insert into praise (praise_id, praise_person, activity_id, 
      department)
    values (#{praiseId,jdbcType=INTEGER}, #{praisePerson,jdbcType=VARCHAR}, #{activityId,jdbcType=INTEGER}, 
      #{department,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.volunteer.volunteer.model.Praise" >
    insert into praise
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="praiseId != null" >
        praise_id,
      </if>
      <if test="praisePerson != null" >
        praise_person,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="department != null" >
        department,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="praiseId != null" >
        #{praiseId,jdbcType=INTEGER},
      </if>
      <if test="praisePerson != null" >
        #{praisePerson,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.volunteer.volunteer.model.Praise" >
    update praise
    <set >
      <if test="praisePerson != null" >
        praise_person = #{praisePerson,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
    </set>
    where praise_id = #{praiseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.volunteer.volunteer.model.Praise" >
    update praise
    set praise_person = #{praisePerson,jdbcType=VARCHAR},
      activity_id = #{activityId,jdbcType=INTEGER},
      department = #{department,jdbcType=VARCHAR}
    where praise_id = #{praiseId,jdbcType=INTEGER}
  </update>
</mapper>