<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.volunteer.volunteer.mapper.PreviewInfoMapper" >
    <resultMap id="BaseResultMap" type="com.volunteer.volunteer.dto.PreviewInfo" >
        <id column="activity_id" property="activityId" jdbcType="INTEGER" />
        <result column="information_name" property="informationName" jdbcType="VARCHAR" />
        <result column="department" property="department" jdbcType="VARCHAR" />
        <result column="activity_time" property="activityTime" jdbcType="TIMESTAMP" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="reading_volume" property="readingVolume" jdbcType="INTEGER" />
        <result column="main_id" property="mainId" jdbcType="INTEGER" />
        <result column="portrait_url" property="portraitUrl" jdbcType="VARCHAR" />
        <result column="picture_id" property="pictureId" jdbcType="INTEGER" />
        <result column="picture_url" property="pictureUrl" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        a.activity_id,information_name,department,activity_time,content,reading_volume,main_id,portrait_url,picture_id,picture_url
    </sql>
    <select id="selectForPreview" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        FROM
        volunteer_activity a LEFT JOIN (
          SELECT * FROM picture p1 WHERE NOT EXISTS(
            SELECT 1 FROM picture p2 WHERE p2.activity_id=p1.activity_id AND p1.picture_id > p2.picture_id
          )
        ) b on a.activity_id = b.activity_id
        limit #{pageNumber},#{pageSize}
    </select>
    <select id="selectByMainId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        FROM
        volunteer_activity a LEFT JOIN (
        SELECT * FROM picture p1 WHERE NOT EXISTS(
        SELECT 1 FROM picture p2 WHERE p2.activity_id=p1.activity_id AND p1.picture_id > p2.picture_id
        )
        ) b on a.activity_id = b.activity_id
        where main_id = #{mainId,jdbcType=INTEGER}
        limit 2
    </select>
    <select id="selectByDepartment" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        FROM
        volunteer_activity a LEFT JOIN (
        SELECT * FROM picture p1 WHERE NOT EXISTS(
        SELECT 1 FROM picture p2 WHERE p2.activity_id=p1.activity_id AND p1.picture_id > p2.picture_id
        )
        ) b on a.activity_id = b.activity_id
        where department = #{department,jdbcType=VARCHAR}
    </select>
</mapper>