<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.volunteer.volunteer.mapper.RudderMapper" >
  <resultMap id="BaseResultMap" type="com.volunteer.volunteer.model.Rudder" >
    <id column="rudder_id" property="rudderId" jdbcType="INTEGER" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="organization" property="organization" jdbcType="VARCHAR" />
    <result column="applicant" property="applicant" jdbcType="VARCHAR" />
    <result column="tel_no" property="telNo" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    rudder_id, school, organization, applicant, tel_no, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rudder
    where rudder_id = #{rudderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rudder
    where rudder_id = #{rudderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.volunteer.volunteer.model.Rudder" >
    insert into rudder (rudder_id, school, organization, 
      applicant, tel_no, status
      )
    values (#{rudderId,jdbcType=INTEGER}, #{school,jdbcType=VARCHAR}, #{organization,jdbcType=VARCHAR}, 
      #{applicant,jdbcType=VARCHAR}, #{telNo,jdbcType=INTEGER}, #{status,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.volunteer.volunteer.model.Rudder" >
    insert into rudder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rudderId != null" >
        rudder_id,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="organization != null" >
        organization,
      </if>
      <if test="applicant != null" >
        applicant,
      </if>
      <if test="telNo != null" >
        tel_no,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rudderId != null" >
        #{rudderId,jdbcType=INTEGER},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="organization != null" >
        #{organization,jdbcType=VARCHAR},
      </if>
      <if test="applicant != null" >
        #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="telNo != null" >
        #{telNo,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.volunteer.volunteer.model.Rudder" >
    update rudder
    <set >
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="organization != null" >
        organization = #{organization,jdbcType=VARCHAR},
      </if>
      <if test="applicant != null" >
        applicant = #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="telNo != null" >
        tel_no = #{telNo,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where rudder_id = #{rudderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.volunteer.volunteer.model.Rudder" >
    update rudder
    set school = #{school,jdbcType=VARCHAR},
      organization = #{organization,jdbcType=VARCHAR},
      applicant = #{applicant,jdbcType=VARCHAR},
      tel_no = #{telNo,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR}
    where rudder_id = #{rudderId,jdbcType=INTEGER}
  </update>
</mapper>